NEXT_PUBLIC_NFT_CONTRACT_ID=your_nft_contract_address_here
NEXT_PUBLIC_MARKETPLACE_CONTRACT_ID=your_marketplace_contract_address_here
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
